.pagination {
  margin: 20px 0;
}

.pagination__block {
  text-align: center;
  display: block;
}

.pagination__buttons {
  text-align: center;
  margin: 0 5px 5px 0;
}

.records {
  color: white;
  text-align: center;
}
